@import "tailwindcss";

@theme {
  --font-sans: var(--font-quicksand), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-cursive: var(--font-caveat), cursive;

  --color-primary: #B9DCA9;
  --color-primary-dark: #035718;
  --color-secondary: #F4B9B3;
  --color-secondary-dark: #E2725B;
  --color-accent: #E2725B;
  --color-text-dark: #1A1A1A;
  --color-footer: #1A1A1A;
  --color-bg-light: #F6F6F6;
}

body {
  color: var(--color-text-dark);
  background-color: var(--color-bg-light);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
